<div id="layoutSidenav">
  <ng-container *ngIf="showNavbar">
    <app-sidebar></app-sidebar>
  </ng-container>
  <div id="layoutSidenav_content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card-body" style="margin: 20px">
            <h5
              class="card-title text-center"
              style="font-weight: bold; font-size: 1.5rem; margin-bottom: 20px"
            >
              Ciclo de Vida inactivas
            </h5>

            <div class="table-responsive mt-4">
              <table class="table table-bordered table-striped table-hover">
                <thead class="table-primary">
                  <tr>
                    <th scope="col" class="text-center">Tipo de Ito</th>
                    <th scope="col" class="text-center">Nombre de Ito</th>
                    <th scope="col" class="text-center">Tipo de Tiempo</th>
                    <th scope="col" class="text-center">Tiempo</th>
                    <th scope="col" class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody id="detalleTabla">
                  <tr *ngFor="let cycle of cicloVidaI">
                    <td class="text-center">{{ cycle.typeIto }}</td>
                    <td class="text-center">{{ cycle.nameIto }}</td>
                    <td class="text-center">{{ cycle.typeTime }}</td>
                    <td class="text-center">{{ cycle.times }}</td>
                    <td class="text-center">
                      <button
                        type="button"
                        name="activar"
                        (click)="activateCycle(cycle)"
                        class="btn btn-warning btn-sm"
                      >
                        <i class="bi bi-arrow-clockwise"></i>
                      </button>
<!--
  <button
    type="button"
    name="eliminar"
    class="btn btn-danger btn-sm ml-2"
    (click)="deletePhysically(cycle)"
  >
    <i class="bi bi-trash"></i>
  </button>
-->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
