<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form (ngSubmit)="onSubmit()" #personForm="ngForm">
        <div class="mb-3">
          <label for="frmTypeIto" class="form-label">Tipo de ito:</label>
          <select
            class="form-select"
            id="frmTypeIto"
            [(ngModel)]="cicloVida.typeIto"
            name="typeIto"
            required
          >
            <option selected disabled value="">Elige...</option>
            <option value="Vacunas">Vacunas</option>
            <option value="Alimentación">Alimentación</option>
          </select>
          <div
            *ngIf="
              personForm.controls['typeIto']?.invalid &&
              (personForm.controls['typeIto']?.dirty ||
                personForm.controls['typeIto']?.touched)
            "
            class="text-danger"
          >
            <div *ngIf="personForm.controls['typeIto']?.hasError('required')">
              Selecciona un tipo de ito.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="frmNameIto" class="form-label">Nombre de ito:</label>
          <input
            type="text"
            class="form-control"
            id="frmNameIto"
            [(ngModel)]="cicloVida.nameIto"
            name="nameIto"
            required
            pattern="^[A-Za-záéíóúÁÉÍÓÚñÑ ]*$"
          />
          <div
            *ngIf="
              personForm.controls['nameIto']?.invalid &&
              (personForm.controls['nameIto']?.dirty ||
                personForm.controls['nameIto']?.touched)
            "
            class="text-danger"
          >
            <div *ngIf="personForm.controls['nameIto']?.hasError('required')">
              El nombre es requerido.
            </div>
            <div *ngIf="personForm.controls['nameIto']?.hasError('pattern')">
              El nombre debe contener solo letras.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="frmTypeTime" class="form-label">Tipo de ito:</label>
          <select
            class="form-select"
            id="frmTypeTime"
            [(ngModel)]="cicloVida.typeTime"
            name="typeTime"
            required
          >
            <option selected disabled value="">Elige...</option>
            <option value="Día">Día</option>
            <option value="Semana">Semana</option>
          </select>
          <div
            *ngIf="
              personForm.controls['typeTime']?.invalid &&
              (personForm.controls['typeTime']?.dirty ||
                personForm.controls['typeTime']?.touched)
            "
            class="text-danger"
          >
            <div *ngIf="personForm.controls['typeTime']?.hasError('required')">
              Selecciona un tipo de tiempo
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="frmTimes" class="form-label">Tiempo:</label>
          <input
            type="text"
            class="form-control"
            id="frmTimes"
            [(ngModel)]="cicloVida.times"
            name="times"
            required
            pattern="^[0-9]*$"
          />
          <div
            *ngIf="
              personForm.controls['times']?.invalid &&
              (personForm.controls['times']?.dirty ||
                personForm.controls['times']?.touched)
            "
            class="text-danger"
          >
            <div *ngIf="personForm.controls['times']?.hasError('required')">
              El tiempo es requerido.
            </div>
            <div *ngIf="personForm.controls['times']?.hasError('pattern')">
              El tiempo debe contener solo números.
            </div>
          </div>
        </div>
        <!--
        <div class="mb-3">
          <label for="frmStatus" class="form-label">Estado:</label>
          <input
            type="text"
            class="form-control"
            id="frmStatus"
            [(ngModel)]="cicloVida['status']"
            name="status"
            disabled
          />
        </div>
      -->
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!personForm.valid"
        >
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>
